html,
body,
header,
#intro {
    height: 100%;
}

#profile, #education, #contact {
    background-color: aqua;
}

#work, #skills {
    background-color: bisque;
}

#intro {
    background: url("../img/budapest_1_1920x1280-min.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: rgba(4, 5, 7);
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: rgba(4, 5, 7);
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: rgba(4, 5, 7);
  }
}


/*
  footer.page-footer .footer-copyright {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.6); }*/
.mobileShow {display: none;} 

  /* Smartphone Portrait and Landscape */ 
  @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px){ 
      .mobileShow {display: inline;}
  }

/*// Necessary for displaying navbar links in center*/
.flex-fill {
   flex:1;   
}

/*// Necessary for scrollspy*/
body {
  position: relative; 
}

section {
/*    min-height: calc(100vh - 50px);*/
}

.top-menu {
    margin-left: 15px;
    margin-right: 15px;
}

.profile-picture {
    width: 50%;
}

img {
    width: 100%;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.full-content {
    padding-left: 0px;
    padding-right: 0px;
}


.block-horizontal-half {
    height: calc(50vh - 45px);
    width: 100%;
}
.block-horizontal {
    height: calc(100vh - 45px);
    width: 100%;
}
.block-half {
    height: 100%;
/*    width: 50%;*/
    right: 0;
    top: 0;
    padding: 68px;
}
.block-left {
    background-color: #292929;
    color: #f9f9f9;
}
.block-right {
    background-color: #f9f9f9;
    color: #2d2d2d;
}

.block-left-title {
    font-weight: 900;
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portrait {
    max-width:136px;
    position:absolute;
    right:calc(50vw - 68px);
    top:calc(50vh - 102px);
/*    z-index: 99999;*/
}

@media screen and (min-width: 850px)
{
    .block-content {
        padding: 24px;
    }   
}

.TEST {
    background-color: aqua
}

.hr-red {
    background-color: red;
    height: 1px;
    border: 0;
}

.nav-link {
    font-size: 0.8rem;
}

.my-parallax {
    /* The image used */
    background-image: url("../img/parallax-1.jpg");

    /* Set a specific height */
/*    min-height: calc(50vh - 45px); */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 100%;
}

.parallax-caption {
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    background-color: transparent;
    color: white;
}

.block-right-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 50vh;
}

@media screen and (max-width: 767px) {
    .block-left, .portrait {
        display: none;
    }
}




/*TIMELINE*/
.timeline-container {
    margin: 40px 50px;
}

.timeline-container ul {
    list-style: none;
    position: relative;
    padding-left: 0px;
}

/*Left and right containers:*/
.container-left {
    margin-right: 30px;
}
.container-right {
    margin-left: 30px;
}
.container-right, .container-left {
    width: calc(50% - 30px);
}


/*Item with content:*/
.timeline-item {
    font-size: 0.9em;
}
.container-left .timeline-item {
    border-right: 6px solid;
}
.container-right .timeline-item {
    border-left: 6px solid;
}

/*Empty items:*/
.container-left .timeline-item-empty {
    border-right: 6px dotted #bfbfbf;
}
.container-right .timeline-item-empty {
    border-left: 6px dotted #bfbfbf;
}


/*Markers:*/
.bolinha {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 100%;
    position: relative;
    top: -1px;
}
.container-left .bolinha {
    left: calc(100% - 5px);
}
.container-right .bolinha {
    left: -11px;
}

.timeline-item .bolinha {
    border: 8px solid;
}
.timeline-item-empty .bolinha {
    border: 3px solid;
    border-color: #bfbfbf;
    background: #fff;
}


/*Line between content and marker:*/
.line {
  content: '';
  width: 18px;
  height: 0px;
  border: 1px solid;
  position: relative;
  top: -9px;
}
.container-left .line {
  left: calc(100% - 21px);
}
.container-right .line {
  left: 3px;
}


/*Timeline date:*/
.timeline-date {
    position: relative;
    top: -30px;
    width: fit-content;
    text-align: center;
    font-size: 0.75em;
    font-weight: 500;
}
.container-left .timeline-date {
    left: calc(100% + 22px);
}
.container-right .timeline-date {
    left: -50px;
}


/*Item content:*/
.timeline-item-content .title {
    font-size: 0.9em;
    font-weight: bold;
}
.timeline-item-content {
    position: relative;
    top: -60px;
    border: 2px solid;
    font-size: 0.9em;
    padding: 4px;
    max-width: 180px;
}
.container-left .timeline-item-content {
    left: calc(100% - 200px);
}
.container-right .timeline-item-content {
    left: 20px;
}







/*Setting colors for each institution*/
.ufmg, .ufmg.timeline-item, .ufmg .bolinha, .ufmg .line, .ufmg .timeline-item-content {
    border-color: red;
}

.obuda, .obuda.timeline-item, .obuda .bolinha, .obuda .line, .obuda .timeline-item-content {
    border-color: #005e92;
}

.puc, .puc.timeline-item, .puc .bolinha, .puc .line, .puc .timeline-item-content {
    border-color: #073b23;
}

.primetals, .primetals.timeline-item, .primetals .bolinha, .primetals .line, .primetals .timeline-item-content {
    border-color: darkorange;
}

.cpe, .cpe.timeline-item, .cpe .bolinha, .cpe .line, .cpe .timeline-item-content {
    border-color: yellow;
}


